section#sectionContact.section-contact
  div.container.__container
    div.heading-group
      h2.heading.heading--h2.section-contact__heading Let's empower growth

      img(
        srcset=`./assets/images/sphere-@2x.webp 2x`
        src=`./assets/images/sphere.webp`
        class="section-contact__image"
        alt="Sphere decorative element"
        loading="lazy"
      )

    form(
      class="form form-contact"
      action=""
      method=""
    )
      div.form-contact__fields
        fieldset.form__field-group
          label(
            class="form__field-label"
            for="name"
          ) What is your full name?
          input(
            id="name"
            class="form__field"
            type="text"
            name=""
            value=""
          )

        fieldset.form__field-group
          label(
            class="form__field-label"
            for="name"
          ) Telephone
          input(
            id="telephone"
            class="form__field form__field--phone"
            type="text"
            name=""
            value=""
          )

        fieldset.form__field-group
          label(
            class="form__field-label"
            for="name"
          ) What is your business email?
          input(
            id="email"
            class="form__field"
            type="email"
            name=""
            value=""
          )

        fieldset.form__field-group
          label(
            class="form__field-label"
            for="name"
          ) Tell us more...
          textarea(
            id="message"
            class="form__field"
            name=""
          )

      fieldset.section-contact__checkbox
        input(
          id="terms"
          class="form__checkbox"
          type="checkbox"
        )
        label(
          class="form__checkbox-label section-contact__checkbox-label"
          for="terms"
        )
          | By checking this box, you are agreeing to our&nbsp;
          a(
            class="form__label-link"
            href="#"
          ) terms and conditions of service.

      button(
        class="button button--primary section-contact__button"
        type="submit"
      ) Send request
